

.bodytable {
	table-layout:fixed;
	width: 100%;
	background-color:#FFFFFF;
	border-collapse:collapse;
	border-spacing: 0px 0px;
	color: white;
	padding: 0px 0px 0px 0px;
	border-width: 0px 0px 0px 0px;
	padding:0px;
	text-align: left;
}


.header {
	table-layout:fixed;
	width: 100%;
	background-color:#307D7E;
	border-collapse:collapse;
	border-spacing: 0px;
	color: white;
	padding: 0px 0px 0px 0px;
	border-width: 2px 0px 2px 0px;
	padding:0px;	
}

.title {
	font-weight: bolder;
	font:60px arial,sans-serif;	
}


.user {
	font-weight: normal;
	font:18px arial,sans-serif;	
}


.menu {
	table-layout:fixed;
	border-collapse: separate;
	background-color:#307D7E;
	border-spacing: 0px 2px;
	padding:0px;	
	border-width: 5px 5px 5px 5px;
	font:24px arial,sans-serif;	
	font-weight: bold;
}

.menuitem {
	border-spacing: 0px 0px;
	background-color:#62AFB0;
	padding: 0px 0px 0px 0px;
}


.submenu {
	background-color:#307D7E;
	padding:0px;	
	border-spacing: 0px 2px;
	padding: 0px 0px 0px 0px;
}

.submenuitem {
	border-spacing: 0px 0px;
	font:20px arial,sans-serif;	
	font-weight: bold;
	background-color:#62AFB0;
	padding: 0px 0px 0px 2px;
}






.dbtable {
	border-spacing: 0px 0px;
	font:16px arial,sans-serif;	
	font-weight: bold;	
	background-color:#B0B0B0;
	color: black;
	
	border-radius: 8px; 
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-opera-border-radius:8px;
	-khtml-border-radius:8px;
	border: 2px solid #444444; 
}

.dbtable tr:last-child td:first-child {
	-moz-border-radius-bottomleft:7px;
	-webkit-border-bottom-left-radius:7px;
	border-bottom-left-radius:7px
}

.dbtable tr:last-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-bottom-right-radius:7px;
	border-bottom-right-radius:7px;
}

.dbtable tr:first-child td:first-child {
	-moz-border-radius-bottomleft:7px;
	-webkit-border-top-left-radius:7px;
	border-top-left-radius:7px
}

.dbtable tr:first-child td:last-child {
	-moz-border-radius-bottomright:7px;
	-webkit-border-top-right-radius:7px;
	border-top-right-radius:7px;
}


.dbtable tr.evenrow
{
  	background-color: #FDF2F4;
}

.dbtable tr.oddrow
{
    background-color: #FEF7F9;
}


.dbtable td.topleft
{
  padding: 12px 15px;
  border-right: 1px dotted #999;
    	font:20px arial,sans-serif;	
	font-weight: bold;

}


.dbtable td.left
{
  padding: 12px 15px;
  border-top: 1px dotted #999;
  border-right: 1px dotted #999;
  font:20px arial,sans-serif;	
	font-weight: bold;
}


.dbtable td.topright
{
  padding: 12px 15px;
}

.dbtable td.right
{
  padding: 12px 15px;
  border-top: 1px dotted #999;
}

.dbtable th
{
	border-bottom: 2px solid #000000;
	padding: 12px 15px;
	text-align: left;
	font:20px arial,sans-serif;	
	font-weight: bold;
}

.dbtable th:first-child
{
	border-bottom: 2px solid #000000;
	border-right: 1px dotted #000000;
	padding: 12px 15px;
	text-align: left;
	font:20px arial,sans-serif;	
	font-weight: bold;
}








.empty a:visited {
	color: blue;
}

.empty a {
	border-spacing: 0px 0px;
	color: blue;
	font:16px arial,sans-serif;	
	font-weight: bold;
}


.button {
  height: 24px;
  padding: 5px 16px 2px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border: 2px solid #ccc;
  position: relative;

  /* Label */
  font-family: Lucida Sans, Helvetica, sans-serif;
  font-weight: 800;
  color: #fff;
  text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.aqua {
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));
  border-top-color: #8ba2c1;
  border-right-color: #5890bf;
  border-bottom-color: #4f93ca;
  border-left-color: #768fa5;
}


.aqua:hover {
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));
  border-top-color: #8ba2c1;
  border-right-color: #5890bf;
  border-bottom-color: #4f93ca;
  border-left-color: #768fa5;
}

.black {
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(68, 68, 68, 0.8)), to(rgba(176, 176, 176, .9)));
  border-top-color: rgb(40, 40, 40);
  border-right-color: rgb(60, 60, 60);
  border-bottom-color: rgb(80, 80, 80);
  border-left-color: rgb(50, 50, 50);
}


.black:hover {
  cursor:pointer;
  background-color: rgba(60, 132, 198, 0.8);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(48, 48, 48, 0.8)), to(rgba(146, 146, 146, .9)));
  border-top-color: rgb(40, 40, 40);
  border-right-color: rgb(60, 60, 60);
  border-bottom-color: rgb(80, 80, 80);
  border-left-color: rgb(50, 50, 50);
}
