@CHARSET "UTF-8";


body {
	margin:0; 
	padding:0;
}


h1 {
	text-align:left;
	color:#1f1d1f;
	margin-bottom:0em;	
	margin-top:0em;	
}


.titletable {
	border: 2px solid #9693cc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #bcb8ff; 
}




.addbutton {
    padding: 1px 5px 1px 5px;
    border-radius: 5px;	
   	border-width:3px;
    width: 100px;
    color: black;
    font-weight:bold;
    text-decoration:none;
}

.addbutton2 {
  background: #bcb8ff;
  background-image: -webkit-linear-gradient(top, #bcb8ff, #9693cc);
  background-image: -moz-linear-gradient(top, #bcb8ff, #9693cc);
  background-image: -ms-linear-gradient(top, #bcb8ff, #9693cc);
  background-image: -o-linear-gradient(top, #bcb8ff, #9693cc);
  background-image: linear-gradient(to bottom, #bcb8ff, #9693cc);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 10px;
  font-family: Arial;
  color: #242224;
  font-size: 16px;
  font-weight: bold;
	outline: 0;
	padding: 5px 18px 5px 18px;
	text-decoration: none;
	border: 2px solid #9693cc;
}


.addbutton2:hover {
	border: 2px solid #8281a8;
  background: #918fe0;
  background-image: -webkit-linear-gradient(top, #918fe0, #9997bd);
  background-image: -moz-linear-gradient(top, #918fe0, #9997bd);
  background-image: -ms-linear-gradient(top, #918fe0, #9997bd);
  background-image: -o-linear-gradient(top, #918fe0, #9997bd);
  background-image: linear-gradient(to bottom, #918fe0, #9997bd);
  text-decoration: none;
  cursor:pointer;
}



.addbutton2:active {
  background: #918fe0;
  text-decoration: none;
  border: 2px inset #aaaaaa;
  border-radius: 10px;
  cursor:pointer;
}




.addbutton3 {
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 16px 2px 16px;
	border-top: 2px solid #CCCCCC;
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
	border-left: 2px solid #CCCCCC;
	border-radius: 5px;	
 	font-size:14px;
	font-weight:bold;
}



.addbutton:hover {
    background-color: #9693cc;
    color: black;
}


.titletablediv {
	border: 2px solid #9693cc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height:28px;
	padding-left:8px;
	background-color: #bcb8ff; 
	font-size:22px;
	color:#514102;	
	padding-top:4px;
}



.titletablediv:hover {
	border: 2px solid #866ce2;
	background-color:#9693cc;
}




.titletabletitle {
	font-size:22px;
	padding-left:8px;
	color:#514102;	
	vertical-align:top;
	padding-top:2px;
}




.titleobligatorydiv {
	font-size:14px;
	vertical-align:top;
	font-weight:bold;
}



.titletabletitlenohower {
	font-size:22px;
	padding-left:8px;
	color:#514102;	
	vertical-align:top;
	padding-top:2px;
}



.titletablerow:hover {
	border: 2px solid #9693cc;
	background-color:#bcb8ff;
}




.successtable {
	border-top: 2px solid #009933;
	border-left: 2px solid #009933;
	border-right: 2px solid #009933;
	border-bottom: 2px solid #009933;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #00FF33; 
	font-size:22px;
	padding-left:8px;

}



.contenttitletable {
	border-top: 2px solid #9693cc;
	border-left: 2px solid #9693cc;
	border-right: 2px solid #9693cc;
	border-bottom: 2px solid #9693cc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #bcb8ff; 
}

.contenttitletablenohower {
	border-top: 2px solid #9693cc;
	border-left: 2px solid #9693cc;
	border-right: 2px solid #9693cc;
	border-bottom: 2px solid #9693cc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #bcb8ff; 
}



.contenttitletable:hover {
	border: 2px solid #866ce2;
	background-color:#9693cc;
}



.contenttable {
	border-left: 2px solid #9693cc;
	border-right: 2px solid #9693cc;
}


.contentedittable {
	border-spacing:0;
	border-collapse: collapse;
}



.contenttablefooter {
	border-left: 2px solid #9693cc;
	border-right: 2px solid #9693cc;
	border-bottom: 2px solid #9693cc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}



.contentedittable td {
	padding:0;
}



.contentdiv {
	border: 2px solid #bcb8ff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height:28px;
	padding-left:8px;
	font-size:22px;
	color:#514102;	
	padding-top:4px;
}



.contentdiv:hover {
	border: 2px solid #9693cc;
	background-color:#bcb8ff;
}



.contentheader {
	font-size:22px;
	padding-left:8px;
	color:#514102;	
	vertical-align:top;
	padding-top:4px;
}


.contentheadertop {
	background-color:green;	
}



.contenttitlerow {
	font-size:22px;
	padding-left:8px;
	color:#514102;	
	background-color:#bcb8ff;
	border-bottom: 2px dotted #cccccc;
	padding-top:4px;
}




.spacerdiv {
	height:5px;
}


.contentleft {
	padding-top: 4px;
	padding-bottom: 4px;
}


.contentcell {
	padding-top: 4px;
	padding-bottom: 4px;
}


.contentright {
	padding-top: 0px;
	padding-bottom: 0px;
}


.contentedit {
	padding: 0;
	vertical-align:bottom;
	padding-left: 8px;
	padding-bottom: 4px;
}


.contentinsidetable {
	border-spacing:0;
}


.infopagesectionleft {
	border-spacing:0;
}


.infopagesectionfieldtitle {
	border-spacing:0;
}

.infopagesectionfielddata {
	border-spacing:0;
}


.infopagesectionfielderror {
	border-spacing:0;
}



.errordiv {
	border: 2px solid #F778A1;
	background-color: pink;
	border-radius: 4px;
	padding: 2px 2px 2px 8px;
	text-align:left;
	font-weight:bold;
	font-size:12px;
}



.errordivsmall {
	border: 1px solid #F778A1;
	background-color: pink;
	border-radius: 4px;
	padding: 2px 2px 2px 8px;
	text-align:left;
	font-weight:normal;
	font-size:14px;
}




.messagediv {
	border: 2px solid #52D017;
	background-color: lightgreen;
	border-radius: 2px;
	padding: 2px 2px 2px 4px;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}



td.sectionfieldtitle {
	font-size:16px;
	color:#514102;	
	width:120px;
	height:22px;
	padding-left:10px;
}


.sectionfieldvalue {
	font-size:20px;
	color:#514102;	
	width:120px;
	height:22px;
	padding-left:10px;
	vertical-align:top;
}



/*
 * Tätä käytetään normaalissa sectionissa select-alasvetovalikon yhteydessä.
 * 
 */
.sectioninputfield {
	height:26px;
	border: 1px solid #8888FF;
	background-color: #CCDDFF;
	outline: none;	
	font-size:15px;
	padding-left:6px;
	border-radius: 3px;	
}




.sectioninputfield:focus {
	 box-shadow: 0 0 3px #8888FF;
    -webkit-box-shadow: 0 0 3px #8888FF; 
    -moz-box-shadow: 0 0 3px #8888FF;
}


.sectioninputfielderror {
	height:26px;
	background-color: pink;
	outline: none;	
	font-size:15px;
	padding-left:6px;
	border: 1px solid red;
	border-radius: 3px;	
}

.sectioninputfielderror:focus {
	 box-shadow: 0 0 3px rgba(255, 0, 0, 1);
    -webkit-box-shadow: 0 0 3px rgba(255, 0, 0, 1); 
    -moz-box-shadow: 0 0 3px rgba(255, 0, 0, 1);
}




/*
 * Tätä käytetään normaalissa sectionissa select-alasvetovalikon yhteydessä.
 * 
 */
.sectionselectfield {
	outline: none;	
	padding-left:6px;
	height:28px;
	border: 1px solid #8888FF;
	background-color: #CCDDFF;
	font-size:15px;
	padding-left:2px;
	padding-top:2px;
	border-radius: 3px;	
}

.sectionselectfielderror {
	outline: none;	
	padding-left:6px;
	height:28px;
	font-size:15px;
	padding-left:2px;
	padding-top:2px;
	border-radius: 3px;	
	background-color: pink;
	border: 1px solid red;
}


.sectionselectfield:focus {
		 box-shadow: 0 0 3px #8888FF;
    -webkit-box-shadow: 0 0 3px #8888FF; 
    -moz-box-shadow: 0 0 3px #8888FF;
}




.contentinsidetable td {
	padding:0;
}




td.contentinfovalue {
	font-size:16px;
	color:#514102;	
	width:220px;
	height:22px;
	vertical-align:top;
}


.contenteditselect {
	height:20px;
	width:205px;
	border: thin solid #888888;
	background-color: #eeeeee;
	padding-left:3px;
}



